[submodule "public"]
	path = public
	url = git@github-shige:shigebunian/shigebunian.github.io.git
	branch = master
[submodule "themes/castanet"]
	path = themes/castanet
	url = https://github.com/mattstratton/castanet.git
